/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.redStyle{
    -fx-background-color: rgba(200,0,0,0.2);
}
.yellowStyle{
    -fx-background-color: rgba(200,200,0,0.2);
}
.greenStyle{
    -fx-background-color: rgba(0,200,0,0.2);
}
.blueStyle{
    -fx-background-color: rgba(0,0,200,0.2);
}
.grayStyle{
    -fx-background-color: rgba(200,200,200,0.2);
}
.infoStyle{
    -fx-text-alignment: center;
    -fx-padding: 4,32,4,32;
}
.helpStyle{
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-text-fill: gray;
}
.helpSmallStyle{
    -fx-font-size: 14px;
}
.warningStyle{
    -fx-border-style: solid; 
    -fx-border-color: red; 
    -fx-border-width: 1px;
}